@font-face {
    font-family: Renfe;
    src: url(../fonts/helvetica_medium.ttf);
}

body {
    background-color: #f8f9fa;
    color: #660545;
    font-family: Renfe;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-family: Renfe;
    font-size: 1.5em;
}

.navbar-dark .navbar-toggler-icon {
    background-color: #ffffff;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-dark {
    background-color: #660545 !important;
}

.abisua {
    height: 80px;
    background-color: #490331;
    padding-left: 20px;
    padding-top: 10px;
    color: white;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    padding-right: 40%;
    padding-left: 40%;
}
  
form {
    display: flex;
    flex-direction: column;
}
  
label {
    margin-bottom: 8px;
}
  
input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover {
    background-color: #45a049;
}

.col-sm-4 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-sm-4 img {
    border-radius: 8px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.col-sm-4 p {
    margin-left: 12%;
    margin-right: 13%;
    color: black;
}

.col-sm-4 a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}

.qep p {
    border: 1px solid black;
    color: black;
    text-align: center;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10px;
    border-radius: 10px;
}

.pasahitza {
    text-decoration: none;
    color: black;
    padding-top: 10px;
}

.pasahitza:hover {
    text-decoration: underline;
    color: #660545;
}

.fcc-btn {
    background-color: #199319;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.fcc-btn:hover{
    font-size: 1.2em;
    color: whitesmoke;
    text-decoration: none;
}